@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
  background-color: #FFFFFF; }

ul, nav {
  margin: 0;
  padding: 0; }

.affix {
  top: 0;
  width: 100%; }

.affix + .container {
  padding-top: 70px; }

.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.logo {
  display: block;
  padding: 10px 0; }
  .logo img {
    width: 250px; }

.pnc-navbar {
  background-color: #F26666;
  border-bottom: 4px solid #388CF2; }
  .pnc-navbar .pnc-menu {
    display: flex;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; }
    .pnc-navbar .pnc-menu li {
      border-left: solid 1px #f69595;
      text-align: center; }
      .pnc-navbar .pnc-menu li a {
        font-size: 1.9rem;
        font-weight: 300;
        color: #FFFFFF;
        display: block;
        line-height: 4rem;
        text-decoration: none; }
      .pnc-navbar .pnc-menu li:hover {
        background-color: #f69595; }
      .pnc-navbar .pnc-menu li:last-child {
        border-right: solid 1px #f69595; }
    .pnc-navbar .pnc-menu.pnc-menu-left li {
      padding: 0 15px; }
    .pnc-navbar .pnc-menu.pnc-menu-right li a {
      line-height: 3.7rem;
      font-size: 2.2rem;
      width: 40px; }
