@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

body
{
    background-color: $c_white;
}
ul, nav
{
    margin: 0;
    padding: 0;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container {
    padding-top: 70px;
}

.flex-row
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo
{
    display: block;
    padding: 10px 0;
    img{
        width: 250px;
    }
}

*{
    border-radius: 0 !important;
}   
.popover{
    top: 143px !important;
    right: 15px !important;
    .popover-content
    {
        padding: 7px !important;
    }
}

.pnc-navbar
{
    background-color: $c_red;
    border-bottom: 6px solid $c_blue;
    .pnc-menu{
        display: flex;
        list-style: none;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        li{
            border-left: solid 1px lighten($c_red, 10%);
            text-align: center;
            a{
                font-size: 1.9rem;
                font-weight: 300;
                color: $c_white;
                display: block;
                line-height: 4rem;
                text-decoration: none;
            }            
            &:hover {
                background-color: lighten($c_red, 10%);
            }
            
            &:last-child
            {
                border-right: solid 1px lighten($c_red, 10%);
            }
        }
        
        &.pnc-menu-left{
            li{
                padding: 0 15px;
            }
        }
        
        &.pnc-menu-right{
            li{
                a{
                    line-height: 3.7rem;
                    font-size: 2.2rem;
                    width: 40px
                }
            }
        }
    }    
}